<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Me - Subash Karki</title>
  </head>
  <body>
    <header>
      <h1>About Me</h1>
    </header>

    <main>
      <p>
        Welcome to my about page! I'm Subash Karki, and I love coding and
        creating websites.
      </p>
      <p>Feel free to learn more about my skills and experiences here.</p>
    </main>

    <footer>
      <p>&copy; 2024 Subash Karki</p>
    </footer>
  </body>
</html>
